$background-white: #ffffff;
$background-grey: #fafafa;
$shadow:rgba(180, 180, 180, 0.35);
$font-color-primary: #262626;
$font-color-secondary: #8e8e8e;
$font-color-footer: #c7c7c7;
$border-color-grey: #dbdbdb;
$border-color-grey-secondary: #efefef;
$link-color: #0095f6;
$link-color-secondary: #b3dffc;
$chat:#4c5255;
$bleu-color:#014869;
$font: "Montserrat", sans-serif;