.new__event{
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.new__event .title__new{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: left;
}
.new__event .title__new::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #b3dffc, #014869);
}
.content__event form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  text-align: left;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .textarea-box{
  width: 100%;
  margin-bottom: 15px;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #026b9c;
}
.user-details .textarea-box textarea{
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 5px;
}
.user-details .textarea-box textarea:focus,
.user-details .textarea-box textarea:valid{
  border-color: #026b9c;
}
 @media(max-width: 584px){
 .new__event{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .content__event form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .new__event .content__event .category{
    flex-direction: column;
  }
}
.groupe__btn{
   display: flex;
   width: 90%;
   margin: 14px 0 ;
   justify-content: space-between;
}
.btn__event {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #d4d3e8;
	text-transform: uppercase;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	width: 30%;
	color: #014869;
	box-shadow: 0px 2px 2px #014869;
	cursor: pointer;
	transition: 0.2s;
	margin-bottom: -12px;
}

.btn__event:active,
.btn__event:focus,
.btn__event:hover {
	border-color: #82c5e4;
	outline: none;
}

.icon__event {
	font-size: 24px;
	margin-left: auto;
	color: #014869;
}